.button {
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}

.button:focus {
	outline: 0;
}

.blue-button {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: white;
	background-color: #2F71E5;
	box-shadow: none;
	border: 0px;
	border-radius: 100px;
}

.blue-button:hover {
	background-color: #347EFF;
}

.blue-button:active {
	background-color: #2A65CC;
}

.link {
	text-decoration: none;
	color: #1A1B22;
}
