.sitename {
	margin: 0 0 0 40px;
	height: inherit;
	vertical-align: middle;

	color: white;
	font-family: 'RobotoSlab';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
}

.sitename__wrapper {
	display: inline-block;
}