@import url(./_nameblock/_nameblock.css);
@import url(./_navigation-buttons/_navigation-buttons.css);

.navigation {
	width: 100%;
	height: 80px;
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.navigation-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.navigation_theme_dark {
	background-color: white;
	box-shadow: inset 0px -1px 0px #D1D2D6;
}

@media screen and (max-width: 800px) {
	.navigation {
		height: 66px;
	}
}

@media screen and (max-width: 705px) {
	.navigation {
		height: max-content;
		box-shadow: none;
	}
	.navigation-wrapper {
		flex-wrap: wrap;
		width: calc(100vw - 2px);
		height: max-content;
		justify-content: center;

		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}
	.navigation-wrapper_theme_dark {
		border-bottom: 1px solid #D1D2D6;
	}
}