.article-card__source {
	margin: 0;
	padding: 0;

	font-size: 24px;
	line-height: 29px;

	position: absolute;
	left: 24px;
	top: 260px;

	font-family: 'RobotoSlab';
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #B6BCBF;
}

@media screen and (max-width: 800px) {
	.article-card__source {
		top: 234px;
		left: 16px;
	}
}

@media screen and (max-width: 705px) {
	.article-card__source {
		top: 208px;
		left: 16px;
	}
}