.nav-button {
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: hidden;
	height: inherit;
	padding: 0;
	padding-top: 31px;


	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: white;
}

.nav-button_type_main {
	margin: 0;
}

.nav-button__wrapper {
	margin: 0 2px;
	width: max-content;
}

.nav-button_type_saved{
	margin: 0 0 0 32px ;
}

.nav-button_selected {
	border-bottom: 3px solid white;
	padding-top: 3px;
}

.nav-button_theme_dark {
	color: #1A1B22;
	border-color: #1A1B22;
}