.article-card__header {
	font-family: 'RobotoSlab';
	font-size: 26px;
	line-height: 30px;

	padding: 0;
	margin: 0 0 16px 0;
	width: inherit;
}

@media screen and (max-width: 800px) {
	.article-card__header {
		font-size: 22px;
		line-height: 24px;
	}
}