@import url('../blocks/header/header.css');
@import url('../vendor/fonts.css');
@import url('../blocks/button/button.css');
@import url('../blocks/saved-info/saved-info.css');
@import url('../blocks/article-list/article-list.css');
@import url('../blocks/article-card/article-card.css');
@import url('../blocks/footer/footer.css');

body {
	margin: 0;
	padding: 0;
}