@import url(./_nav-button/header__navigation_navigation-buttons_nav-button.css);
@import url(./_auth-button/header__navigation_navigation-buttons_auth-button.css);

.navigation-buttons {
	display: flex;
	justify-content: space-between;
	width: max-content;
	height: inherit;
	align-items: center;
}

@media screen and (max-width: 705px) {
	.navigation-buttons {
		height: 230px;
		width: 288px;
		flex-direction: column;
		align-items: flex-start;
		background: transparent;
	}
}
