
.links-block__praktikum {
	width: 192px;
	height: 24px;
}

@media screen and (max-width: 800px) {
	.links-block__praktikum {
		width: 176px;
		height: 22px;
	}
}

@media screen and (max-width: 705px) {
	.links-block__praktikum {
		text-align: left;
		position: absolute;
		bottom: 130px;
		left: 16px;
	}
}