.search-input {
	box-sizing: border-box;
	border: 1px solid #D1D2D6;
	border-radius: 100px;
	padding: 0 0 0 24px;
	width: 608px;
	height: 64px;
	position: absolute;
	left: 0;
	top: 0;
}

@media screen and (max-width: 800px) {
	.search-input {
		width: 448px;
		height: 56px;
	}
}

@media screen and (max-width: 705px) {
	.search-input {
		width: 288px;
	}
}