.article-list {
	background-color: #F5F6F7;
	padding: 62px 0;
}

.articles-container {
	display: flex;
	flex-wrap: wrap;
	width: 1248px;
	margin: 0 auto;
}


@media screen and (max-width: 1100px) {
	.articles-container {
		width: calc(300px * 3 + 16px * 3);
	}
}

@media screen and (max-width: 800px) {
	.articles-container {
		width: calc(224px * 3 + 8px * 3);
	}
	.article-list {
		padding: 32px 0;
	}
}

@media screen and (max-width: 705px) {
	.articles-container {
		width: calc(100vw - 4px);
		justify-content: center;
	}
	.article-list {
		padding: 24px 0;
	}
}