.links-block__github {
	margin: 0 28px 0 42px;
	padding: 0;
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 800px) {
	.links-block__github {
		width: 22px;
		height: 22px;
		margin-right: 25px;
		margin-left: 24px;
	}
}

@media screen and (max-width: 705px) {
	.links-block__github {
		position: absolute;
		top: 22px;
		right: 66px;
		margin: 0;
	}
}