.links-block__facebook {
	margin: 0 106px 0 0;
	padding: 0;
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 800px) {
	.links-block__facebook {
		width: 22px;
		height: 22px;
		margin-right: 41px;
	}
}

@media screen and (max-width: 705px) {
	.links-block__facebook {
		position: absolute;
		top: 22px;
		right: 16px;
		margin: 0;
	}
}